# This file contain all the folders and foles that are not needed to be uploaded
# Ignore target from build


# General path
build/CMakeFiles

# General compilation files .../build/:
*.cbp
*.cmake
*.csv
*.log
*.txt.user
*.txt~



# Specific files
CMakeCache.txt
