# This file contain all the folders and foles that are not needed to be uploaded
# Ignore target from build


# General path
CMakeFiles/

# Ignore a spific type of files of a specifc folder
**/build/*.txt

# General compilation files .../build/:
*.cbp
*.cmake
*.csv
*.log
*.txt.user
*.txt~
*.make
*.marks
*.bin
*.c
*.cxx
*.o
*check_cache
*.out



# Specific files
Makefile
Makefile2

